*{
  box-sizing: border-box;
  margin: 6px;
}

html {
  font-family: 'Work Sans', sans-serif;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 20px;
  scroll-behavior: smooth;
}

h1 {
  color: darkcyan;
}

div {
 color: midnightblue;
}

body {
  background-color: lightblue;
  padding: 5px;
  text-align: center;
  background-image: url("...images/background.jpg");
}
